body{
    /* color:rgb(237, 53, 53); */
}

.cat-element{
    border:solid 1.3px rgb(163, 161, 161);
    height: 120px;
    font-size: 30px;

}

.red{
    color: rgb(200, 65, 65);
}
.blue{
    color: #09f;
}